/* body styles */

body {
    background-image: url("../assets/images/ignasi_pattern_s.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-top: 80px;
    margin-bottom: 100px; 
    margin-top: 30px;
}

/* styles for header/nav */

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #777777;
    padding: 0px;
}

/* styles for main body content */

.maincontent {
    background: #ffffff;
    margin-top: 20px;
    padding-bottom: 10px;
}

/* styles for name */

.name, h1{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    padding: 5px;
}

/* styles for title */

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 15px;
}

/* styles for links */

a {
    color: #777777;
    text-decoration: none;  
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* button style */

.btn {
    background-color: #4aaaa5;
    color: #ffffff;
}

/* footer styles */

.footer {
    background-color: #777777;
    border-top: 3px solid #4aaaa5;
    color: #ffffff;
}

/* styles for portfolio images */

.card {
    margin: 5px;
}
.card-text {
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;
    opacity: .8;
}

.card-img-overlay {
    position: absolute;
    top: 60px;
    padding: 0px;
}
